numpy
torch
torchvision
transformers<4.46.0
vllm>=0.3.0,<0.5.2
peft
bitsandbytes
fschat
sentence_transformers
accelerate
spacy==3.7.2
confection==0.1.4
shapely<2.1.0
openai>=1.25.1
anthropic
mistralai<=0.4.2
google-generativeai
google-cloud-aiplatform
together
ray
pandas
matplotlib
datasketch
boto3
bpe